<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1>Dashboard</h1>

<button onclick="load()">Load my proofs</button>

<div id="list"></div>

</div>

<script>

let token = localStorage.getItem("token")

async function load(){

let res = await fetch("/my-proofs",{
headers:{
"Authorization": token
}
})

let data = await res.json()

let div = document.getElementById("list")
div.innerHTML = ""

data.forEach(p=>{
div.innerHTML += `
<div class="card">
${p.id} <br>
${p.hash} <br>
anchored: ${p.anchored}
</div>
`
})

}

</script>

</body>
</html>
