<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h2>Login</h2>
<input id="email" placeholder="email">
<button onclick="login()">Login</button>

<h2>Create Proof</h2>
<input id="msg" placeholder="text">
<button onclick="send()">Create</button>

<div id="result"></div>

</div>

<script>

async function login(){

let email = document.getElementById("email").value

let res = await fetch("/login",{
method:"POST",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify({email:email})
})

let data = await res.json()

console.log("LOGIN:", data)

localStorage.setItem("token", data.token)

alert("Logged in")

}

async function send(){
